* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'ComicFont';
    src: url('fonts/ComicBook.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AdventFont';
    src: url('fonts/Adventure.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'AdventFont', sans-serif;
}

.title-container {
    display: flex;
    justify-content: center; /* Centre l'élément à l'intérieur du conteneur */
    align-items: center; /* Centre l'élément verticalement si nécessaire */
}

.logo-container {
    display: flex;
    justify-content: space-around; /* Distribue l'espace de manière équilibrée entre les éléments */
}

.logo-container img {
    max-width: 200px; /* Assure que chaque image n'occupe pas plus d'espace qu'un maximum de 100px */
    height: auto;
}

.containernav {
    margin-top: 10px;
}

.container {
    width: 75%;
    margin: 0 auto;
}

header {
    background-color: #08411A;
    color: #800310;
    padding: 1rem 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav ul li a {
    font-family: 'ComicFont', 'Courier New', monospace;
    text-decoration: none;
    color: #800310;
    font-size: 25px;
}

#hero {
    background-image: url('assets/contact-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

#hero h1 {
    font-size: 3rem;
}

#services, #about, #contact {
    padding: 2rem 0;
}

.service-item {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.service-item img {
    width: 25%;
    margin-right: 1rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    background-color: #333;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
    background-color: #555;
}

footer {
    background-color: #800310;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}